@CHARSET "UTF-8";
*{font-size:14px; font-family:"微软雅黑"}
body{}
.search{
	padding: 4px 3px;
	height:100px;
}

.search  ul{
	list-style-type:none;
	width:960px
	margin:0px auto;
}

.search ul li{
	 float:left;
	 width:480px;
}

.search_btn{
	height:45px;
	margin-top: 65px;
}

.show_btn{
	margin-top: 30px;
	margin-left: 35px;
}

.show_table{
	display: none;
}