<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
        xmlns:aop="http://www.springframework.org/schema/aop"  
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        	http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/aop 
			http://www.springframework.org/schema/aop/spring-aop.xsd">  
              
        <!-- 数据库配置 -->
        <import resource="../hibernate_config/hibernate.cfg.xml"/>
        
        <!-- DAO   -->
       <bean id="userDAO" class="com.automobile.dao.impl.UserDAOImpl" parent="daoTemplate"></bean>
      
        <import resource="/applicationContext-service.xml"/>
		<import resource="/applicationContext-action.xml"/>
</beans>  
              