<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee"
 	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
 	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
 	version="3.0">
 	
 	<display-name>AutoMobileSaleSys</display-name>
	<!-- 配置Struts2 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
		<init-param>
		<param-name>struts-config</param-name>
		<param-value>struts.xml</param-value>
</init-param>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
		<!-- 检查是否登录 -->
	<filter>
		<filter-name>checkLogin</filter-name>
		<filter-class>com.automobile.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>checkLogin</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	

	
		<!-- 配置spring容器 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/classes/spring_config/applicationContext.xml</param-value>
	</context-param>

	<!-- 配置spring容器监听器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
 	
  <welcome-file-list>
    <welcome-file>html/login.html</welcome-file>
  </welcome-file-list>
</web-app>